@use "../../sass/var";
@use "../../sass/mixins" as mix;

//<!----------------------------->
//<!--------- Wood Room --------->
//<!----------------------------->

.room1Wood {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  color: var.$lightColor;
  background-color: rgba(0, 0, 0, 0.45);
  background-blend-mode: multiply;

  .woodParticles {
    position: absolute;
    inset: 0;
    pointer-events: none;
    overflow: hidden;
    z-index: 1;
    .woodParticle {
      position: absolute;
      border-radius: 999px;

      // “glow”
      background: rgba(255, 220, 120, 0.9);
      box-shadow: 0 0 10px rgba(255, 220, 120, 0.6);

      opacity: 0.8;

      animation-name: floatUp, flicker;
      animation-timing-function: linear, ease-in-out;
      animation-iteration-count: infinite, infinite;
    }
    @keyframes floatUp {
      from {
        transform: translateY(20px);
      }
      to {
        transform: translateY(-110vh);
      }
    }

    @keyframes flicker {
      0%,
      100% {
        opacity: 0.15;
      }
      50% {
        opacity: 0.9;
      }
    }
  }

  .keypad {
    display: flex;
    gap: 1rem;
    .key {
      color: var.$lightColor;
      padding: 0.5rem;
      font-size: var.$fs-h4;
      width: 3rem;
      @include mix.glass();
      box-shadow: 2px 5px rgba(0, 0, 0, 0.45);
    }
  }

  .slots {
    margin-block: 5rem;
    display: flex;
    gap: 3rem;
    justify-content: center;
    margin-top: 3rem;

    .slot {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem;
      font-size: var.$fs-h5;
      width: 3rem;
      height: 4rem;
      @include mix.glass();
      box-shadow: 2px 5px rgba(0, 0, 0, 0.45);
    }
    .slot[data-digits="2"] {
      width: 3.8rem;
    }
    .slot[data-digits="3"] {
      width: 4.5rem;
    }
    .slot[data-digits="4"] {
      width: 5.5rem;
    }
    .slot.is-active {
      outline: 2px solid #ff9f1c;
      animation: slot-breathe 2s ease-in-out infinite;
    }
  }
  @keyframes slot-breathe {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
  }

  // ALLY STUFF
  @media (prefers-reduced-motion: reduce) {
    .slots .slot.is-active {
      animation: none;
    }
  }
}
