@use "var";
@use "mixins" as mix;

//-----------------------------------------------------------
//-------------------------Global styles---------------------
//-----------------------------------------------------------
main {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.hidden {
  display: none !important;
}

body {
  font-family: var.$txFont;
  background-color: black;
}

//-----------------------------------------------------------
//-------------------------HEADERS---------------------------
//-----------------------------------------------------------

.welcomeHeader {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 1.5rem 3rem;
  .welcomeCta {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    p {
      color: var.$lightColor;
      font-size: var.$fs-h5;
      margin: 0;
      line-height: 1;
      text-transform: uppercase;
    }
    button {
      background-color: transparent;
      border: none;
      padding: 1rem;
    }
  }
}
.gameHeader {
  // Background style
  @include mix.glass();
  border: 2px solid var.$lightColor;
  border-radius: var.$smallRadius;
  // Positions & size
  left: 50%;
  transform: translateX(-50%);
  top: 25px;
  width: 90vw;
  min-height: 60px;
  height: auto;
  position: absolute;
  z-index: 100;

  // Font
  font-size: 1.5rem;
  color: var.$lightColor;
  text-transform: uppercase;

  .gameHeaderNav {
    // FLEX
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
  }

  .roomTimer span,
  .totalTimer span {
    display: inline-block;
    width: 2ch;
    text-align: right;
  }

  // ProgressBar
  .progress {
    .progressTrack {
      display: flex;
      gap: 0.5rem;
    }
    .roomProgress {
      width: 12px;
      height: 50px;
      border: 2px solid var.$lightColor;
      border-radius: var.$smallRadius;
    }
    .roomCompleted {
      background-color: var.$lightColor;
    }
    .roomFailed {
      background-color: var.$redColor;
      border: 2px solid var.$redColor;
    }
  }
  // Buttons left
  .headerBtns {
    display: flex;
    gap: 2.5rem;
    position: relative;
    button {
      background: transparent;
      border: none;
      padding: 0;
    }
    svg {
      padding: 0;
    }
    .badge {
      position: absolute;
      display: none;
      align-items: center;
      justify-content: center;
      font-size: 0.7rem;
      color: var.$lightColor;
    }
    .badge.is-visible {
      display: inline-flex; /* show only when count > 0 */
      transform: scale(1);
    }
  }
}

//-----------------------------------------------------------
//-------------------------Dropdown style---------------------
//-----------------------------------------------------------

.item-dropdown {
  @include mix.glass();
  position: fixed;
  top: 105px;
  right: 5vw;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding: 0.5rem;
  z-index: 10; // Vi får ändra senare
  opacity: 0;
  transform: translateY(-5px);
  transition: opacity 0.25s ease, transform 0.25s ease;
  pointer-events: none;
  border: 2px solid var.$lightColor;

  .artifact-slot {
    width: 40px;
    height: 40px;
  }
}

.item-dropdown.is-open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

//-----------------------------------------------------------
//----------------In-room progressbar -----------------------
//-----------------------------------------------------------

.inRoombar {
  display: flex;
  justify-content: space-between;
  gap: 6rem;
  padding: 0.5rem 2rem;
  font-size: var.$fs-h6;
  @include mix.glass();
  border: 1px solid var.$lightColor;

  .balance {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .balanceBar {
    width: 180px;
    height: 15px;
    border-radius: 999px;
    border: 2px solid var.$lightColor;
    overflow: hidden;
  }
  .balanceFill {
    height: 100%;
    width: 0%;
    background: #ff9f1c;
    border-radius: 999px;
    transition: width 200ms ease;
  }
}

//-----------------------------------------------------------
//-----------Message overlay used between rooms--------------
//-----------------------------------------------------------

.gameMsg {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  z-index: 9999;

  /* look */
  font-size: var.$fs-h4;
  text-transform: uppercase;
  font-weight: 700;
  padding: 1.5rem;
  @include mix.glass();
  color: var.$lightColor;
  text-align: center;

  /* fade */
  opacity: 0;
  transition: opacity 2400ms ease-in-out;
}

.gameMsg.hidden {
  display: none;
}

.gameMsg.isVisible {
  opacity: 1;
}

//-----------------------------------------------------------
//-------------------------Room Desc-------------------------
//-----------------------------------------------------------

.roomDesc {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  color: var.$lightColor;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 1200px;
  font-size: var.$fs-h6;
  text-align: left;

  img {
    width: 112px;
    height: 110px;
  }
}

//-----------------------------------------------------------
//-------------------------Dialogs----------------------------
//-----------------------------------------------------------

.aboutDialog {
  margin: 0;
  padding: 0;
  border: none;
  height: 100%;
  width: 100%;
  max-width: none;
  max-height: none;

  background-image: url("/images/about-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: var.$lightColor;

  button {
    background: transparent;
    border: none;
    color: var.$lightColor;
    padding: 1.5rem 1.5rem 0.5rem 2rem;
  }
  .dialogInner {
    margin: 0.5rem 2rem;
    padding: 1.5rem 3rem 4rem 3rem;

    @include mix.glass;
  }
  .tabs {
    .tabsTab {
      font-size: var.$fs-h6;
      padding: 0 3rem 0 0;
      border-radius: var.$smallRadius;
      opacity: 0.4;
    }
    .tabsTab:focus {
      outline: none;
      text-decoration: underline;
      text-decoration-thickness: 3px;
      text-underline-offset: 5px;
    }
    .tabsTab.currentTab,
    .tabsTab[aria-selected="true"] {
      color: var.$lightColor;
      opacity: 1;
    }
  }
  .tabsPanel {
    margin-top: 3rem;

    h3 {
      font-size: var.$fs-h4;
    }
    h4 {
      font-size: var.$fs-h6;
      margin-top: 1.5rem;
      margin-bottom: 0.25rem;
      opacity: 0.9;
    }
    p {
      font-size: var.$fs-h6;
      line-height: 1.8;
      opacity: 0.9;
    }

    &.panelControls {
      .controlsGrid {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 1.5rem;
      }
      h4 {
        font-size: var.$fs-h6;
      }
      p {
        font-size: var.$fs-body;
      }
      .controlItem {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
      }
    }
  }
}

.panelDev {
  .devTeamList {
    list-style: none;
    padding: 0;
    margin: 1rem 0 0 0;

    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
  }

  .devTeamList li {
    display: inline-flex;
    gap: 0.5rem;
  }

  .devTeamList a {
    display: inline-flex;
    align-items: center;
    gap: 0.2rem;
    width: fit-content;
    text-decoration: none;
  }

  .devTeamList img {
    display: block;
    width: 30px;
    height: 30px;
    object-fit: contain;
  }
}

.exitDialog {
  color: var.$lightColor;
  @include mix.glass();

  .exitDialogInner {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    .exitDialogText {
      font-size: var.$fs-h6;
      text-align: center;
    }
    .exitDialogBtns {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      .btn {
        @include mix.button();
      }
    }
  }
}

//-----------------------------------------------------------
//-------------------------kbd styling-----------------------
//-----------------------------------------------------------

kbd {
  display: inline-block;
  @include mix.glass($bg: rgba(9, 49, 52, 0.5), $radius: 4px);
  padding: 2px 8px;
  font-family: monospace;
  font-size: 0.85em;
  color: var.$lightColor;
  letter-spacing: 0.03em;
  line-height: 1.6;
}

//-----------------------------------------------------------
//-------Background image settings for each room ------------
//-----------------------------------------------------------

//fade effect for trasitions

.page {
  opacity: 0;
  transition: opacity 1200ms ease;
  pointer-events: none;
}
.page.isVisible {
  opacity: 1;
  pointer-events: auto;
}

.splashPage,
.loginPage,
.welcomePage,
.room1Wood,
.room2Fire,
.room3Earth,
.room4Metal,
.room5Water,
.finalRoom,
.gameOverRoom,
.gameWinRoom,
.highscoreRoom {
  position: absolute;
  inset: 0;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.welcomePage {
  z-index: 20;
}
/* Temporary menu styling */
.welcomePage .mainMenu {
  position: relative;
  top: 70%;
  gap: 25px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    @include mix.button();
  }
}
//-----------------------------------------------------------
//---------------------- SplashPage -------------------------
//-----------------------------------------------------------

.splashPage {
  z-index: 30;
  .splashHeading {
    color: var.$lightColor;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    text-transform: uppercase;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.55),
      0 0 30px rgba(0, 180, 255, 0.25);
    opacity: 0;
    transition: none;
    &.isVisible {
      opacity: 1;
      transition: opacity 3000ms ease;
    }
    h1 {
      white-space: nowrap;
      line-height: 1;
      margin: 0;
      font-size: 6rem;
      text-align: center;
    }
    .symbols {
      display: flex;
      justify-content: center;
      gap: 6rem;
      span {
        line-height: 1;
        font-size: 4rem;
      }
    }
  }
}

//-----------------------------------------------------------
//---------------------- LOGINPAGE --------------------------
//-----------------------------------------------------------
.loginPage {
  z-index: 10;
  display: grid;
  place-items: center;
  .loginPlate {
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    color: var.$lightColor;
    @include mix.glass();

    .loginCta {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 3rem;
      max-width: 450px;

      h2 {
        margin: 0;
        display: inline-block;
      }
      figure {
        margin: 0;
      }
    }

    form {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 2rem 1rem;
      max-width: 450px;
      label {
        font-size: var.$fs-h6;
        text-transform: uppercase;
        flex: 0 0 auto;
      }
      input {
        flex: 1 1 240px;
        border-radius: var.$smallRadius;
        padding: 0.7rem;
        background: transparent;
        border: 2px solid var.$lightColor;
        color: var.$lightColor;
      }
      input::placeholder {
        color: var.$lightColor;
        opacity: 0.7;
      }
      button {
        flex: 0 0 100%;
        @include mix.button;
        border: 2px solid var.$lightColor;
      }
    }
  }
}
