@use "var";
@use "mixins" as mix;

//---------STYLING FOR GLOBAL ROOMS-----------//
.hidden {
  display: none;
}

body {
  font-family: var.$txFont;
}
.test-button {
  @include mix.button();
}
// LOGIN PAGE
.imageWrapper {
  position: relative;
  button {
    position: absolute;
    bottom: 20px;
    left: 50px;
  }
}
.png {
  width: 111px;
  height: 109px;
  position: absolute;
  left: 30%;
  bottom: 10%;
}

header {
  // Background style
  @include mix.glass();
  border: 2px solid var.$lightColor;
  border-radius: var.$smallRadius;
  // FLEX
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2.5rem;
  // Positions & size
  left: 50%;
  transform: translateX(-50%);
  top: 25px;
  width: 90vw;
  height: 60px;
  position: absolute;
  z-index: 100;
  // Font
  font-size: 1.5rem;
  color: var.$lightColor;
  text-transform: uppercase;
  // ProgressBar
  .progress {
    .progressTrack {
      display: flex;
      gap: 0.5rem;
    }
    .roomProgress {
      width: 12px;
      height: 50px;
      border: 2px solid var.$lightColor;
      border-radius: var.$smallRadius;
    }
    .roomCompleted {
      background-color: var.$lightColor;
    }
    .roomFailed {
      background-color: var.$redColor;
      border: 2px solid var.$redColor;
    }
  }
  // Buttons left
  .headerBtns {
    display: flex;
    gap: 2.5rem;
    button {
      background: transparent;
      border: none;
    }
  }
}
