@use "var";
@use "mixins" as mix;

//<!----------------------------->
//<!--------- Wood Room --------->
//<!----------------------------->

.room1Wood {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  color: var.$lightColor;

  .woodParticles {
    position: absolute;
    inset: 0;
    pointer-events: none;
    overflow: hidden;
    z-index: 1;
    .woodParticle {
      position: absolute;
      border-radius: 999px;

      // “glow”
      background: rgba(255, 220, 120, 0.9);
      box-shadow: 0 0 10px rgba(255, 220, 120, 0.6);

      opacity: 0.8;

      animation-name: floatUp, flicker;
      animation-timing-function: linear, ease-in-out;
      animation-iteration-count: infinite, infinite;
    }
    @keyframes floatUp {
      from {
        transform: translateY(20px);
      }
      to {
        transform: translateY(-110vh);
      }
    }

    @keyframes flicker {
      0%,
      100% {
        opacity: 0.15;
      }
      50% {
        opacity: 0.9;
      }
    }
  }

  .keypad {
    display: flex;
    gap: 1rem;
    .key {
      color: var.$lightColor;
      padding: 0.5rem;
      font-size: var.$fs-h4;
      width: 3rem;
      @include mix.glass();
    }
  }

  .slots {
    margin-block: 5rem;
    display: flex;
    gap: 3rem;
    justify-content: center;
    margin-top: 3rem;

    .slot {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem;
      font-size: var.$fs-h5;
      width: 3rem;
      height: 4rem;
      @include mix.glass();
    }
    .slot[data-digits="2"] {
      width: 3.8rem;
    }
    .slot[data-digits="3"] {
      width: 4.5rem;
    }
    .slot[data-digits="4"] {
      width: 5.5rem;
    }
  }

  .inRoombar {
    display: flex;
    justify-content: space-between;
    gap: 6rem;
    padding: 0.5rem 2rem;
    font-size: var.$fs-h6;
    @include mix.glass();
    border: 1px solid var.$lightColor;

    .balance {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
    .balanceBar {
      width: 180px;
      height: 15px;
      border-radius: 999px;
      border: 2px solid var.$lightColor;
      overflow: hidden;
    }
    .balanceFill {
      height: 100%;
      width: 0%;
      background: #ff9f1c;
      border-radius: 999px;
      transition: width 200ms ease;
    }
  }
}
