/* Variables */

/* Colors */
$clrMidBlue: #021216;
$lightColor: #ecf5f1;
$redColor: #9d0508;

/*Typography*/
$txFont: "Asimovian", Arial, sans-serif;

/* Styling */
$smallRadius: 10px;
$bigRadius: 30px;
