@use "../../sass/var";
@use "../../sass/mixins" as mix;

.room3Earth {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.room3Earth .gameDiv {
    background-image: url('/images/earthBackground.jpg');
    margin: 0 auto;
    width: auto;
    border:  1px solid var.$lightColor;
    border-radius: var.$smallRadius;
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(4, 150px);
}

.room3Earth .gameDiv .slate {
color: white;
   //border:  1px solid var.$lightColor;
   display: flex;
   align-items: center;
   justify-content: center;
}

.room3Earth .roomDesc {
    @include mix.glass();
    width: 40vw;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*
.room3Earth .roomDesc .leftIcon {

}
.room3Earth .roomDesc .rightIcon {

}
*/