@use '../../sass/var';
@use '../../sass/mixins' as mix;

.room3Earth {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.3);
	background-blend-mode: multiply;
}

.room3Earth .gameBoard {
	margin: 0 auto;
	background-image: url('/images/earthRoom/tilesBackground.png');
	width: 674px;
	height: 674px;
	position: relative;
	bottom: 36px;
	border: 1px solid var.$lightColor;
	border-radius: var.$smallRadius;
}

.room3Earth .gameDiv {
	margin: 0 auto;
	width: auto;
	top: 33px;
	left: 30px;
	gap: 14px;
	position: relative;
	display: grid;
	grid-template-columns: repeat(4, 142px);
	grid-template-rows: repeat(4, 142px);
	transition: 300ms;
	grid-template-areas:
		'c00 c01 c02 c03'
		'c10 c11 c12 c13'
		'c20 c21 c22 c23'
		'c30 c31 c32 c33';
}

.room3Earth .gameDiv .slate {
	color: white;
	font-size: var.$fs-h5;
	font-family: var.$txFont;
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

.room3Earth .gameDiv .slate1 {
	background-image: url('/images/earthRoom/Slate1.jpg');
}

.room3Earth .gameDiv .slate2 {
	background-image: url('/images/earthRoom/Slate2.jpg');
}

.room3Earth .gameDiv .slate3 {
	background-image: url('/images/earthRoom/Slate3.jpg');
}

.room3Earth .gameDiv .slate4 {
	background-image: url('/images/earthRoom/Slate4.jpg');
}

.room3Earth .gameDiv .slate5 {
	background-image: url('/images/earthRoom/Slate5.jpg');
}

.room3Earth .gameDiv .slate6 {
	background-image: url('/images/earthRoom/Slate6.jpg');
}

.room3Earth .gameDiv .slate7 {
	background-image: url('/images/earthRoom/Slate7.jpg');
}

.room3Earth .gameDiv .slate8 {
	background-image: url('/images/earthRoom/Slate8.jpg');
}

.room3Earth .gameDiv .slate9 {
	background-image: url('/images/earthRoom/Slate9.jpg');
}

.room3Earth .gameDiv .slate10 {
	background-image: url('/images/earthRoom/Slate10.jpg');
}

.room3Earth .gameDiv .slate11 {
	background-image: url('/images/earthRoom/Slate11.jpg');
}

.room3Earth .gameDiv .slate12 {
	background-image: url('/images/earthRoom/Slate12.jpg');
}

.room3Earth .gameDiv .slate13 {
	background-image: url('/images/earthRoom/Slate13.jpg');
}

.room3Earth .gameDiv .slate14 {
	background-image: url('/images/earthRoom/Slate14.jpg');
}

.room3Earth .gameDiv .slate15 {
	background-image: url('/images/earthRoom/Slate15.jpg');
}

.room3Earth .gameDiv .slate16 {
	background-image: url('/images/earthRoom/emptySlate.jpg');
}

.room3Earth .gameDiv .slate16.end {
	background-image: url('/images/earthRoom/lavaSlate.jpg');
	opacity: 0;
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
	transition: all 4s;
	-webkit-transition: all 4s;
}

.room3Earth .gameDiv .slate16.end img {
	width: 100px;
	height: 100px;
	opacity: 0;
	transition: all 3s;
	-webkit-transition: all 3s;
}

.room3Earth .gameDiv .c00 {
	grid-area: c00;
}

.room3Earth .gameDiv .c01 {
	grid-area: c01;
}

.room3Earth .gameDiv .c02 {
	grid-area: c02;
}

.room3Earth .gameDiv .c03 {
	grid-area: c03;
}

.room3Earth .gameDiv .c10 {
	grid-area: c10;
}

.room3Earth .gameDiv .c11 {
	grid-area: c11;
}

.room3Earth .gameDiv .c12 {
	grid-area: c12;
}

.room3Earth .gameDiv .c13 {
	grid-area: c13;
}

.room3Earth .gameDiv .c20 {
	grid-area: c20;
}

.room3Earth .gameDiv .c21 {
	grid-area: c21;
}

.room3Earth .gameDiv .c22 {
	grid-area: c22;
}

.room3Earth .gameDiv .c23 {
	grid-area: c23;
}

.room3Earth .gameDiv .c30 {
	grid-area: c30;
}

.room3Earth .gameDiv .c31 {
	grid-area: c31;
}

.room3Earth .gameDiv .c32 {
	grid-area: c32;
}

.room3Earth .gameDiv .c33 {
	grid-area: c33;
}

.room3Earth .roomDesc {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;
	color: var.$lightColor;
	position: absolute;
	bottom: 2rem;
	left: 50%;
	transform: translateX(-50%);
	width: 1200px;
	font-size: var.$fs-h6;
	text-align: left;
}

@media only screen and (max-height: 950px) {
	.room3Earth .gameBoard {
		background-size: 100%;
		width: 505.5px;
		height: 505.5px;
	}
	.room3Earth .gameDiv {
		top: 24px;
		left: 22px;
		gap: 10px;
		grid-template-columns: repeat(4, 106.5px);
		grid-template-rows: repeat(4, 106.5px);
	}
}

@media only screen and (max-height: 775px) {
	.room3Earth .gameBoard {
		background-size: 100%;
		width: 379.125px;
		height: 379.125px;
	}
	.room3Earth .gameDiv {
		top: 14px;
		left: 13px;
		gap: 9px;
		grid-template-columns: repeat(4, 79.875px);
		grid-template-rows: repeat(4, 79.875px);
	}
}

@media only screen and (max-width: 1300px) {
	#roomDesc {
		font-size: 1.2rem;
		width: 1165px;
	}
	#roomDesc img {
		width: 95.2px;
		height: 93.5px;
	}

	#gameHeader.gameHeader {
		font-size: 1.2rem;
	}
}

@media only screen and (max-width: 1200px) {
	#roomDesc {
		font-size: 1.05rem;
		width: 1050px;
	}
	#roomDesc img {
		width: 84px;
		height: 82.5px;
	}

	#gameHeader.gameHeader {
		font-size: 1.2rem;
	}
}

@media only screen and (max-width: 1100px) {
	#roomDesc {
		font-size: 1rem;
		width: 950px;
	}
	#roomDesc img {
		width: 84px;
		height: 82.5px;
	}

	#gameHeader.gameHeader {
		font-size: 1.2rem;
	}
}

@media only screen and (max-width: 950px) {
	#roomDesc {
		font-size: 1rem;
		width: 850px;
	}
	#roomDesc img {
		width: 84px;
		height: 82.5px;
	}

	#gameHeader.gameHeader {
		font-size: 1rem;
	}
}

@media only screen and (max-width: 855px) {
	#roomDesc {
		font-size: 1rem;
		width: 750px;
	}
	#roomDesc img {
		width: 84px;
		height: 82.5px;
	}

	#gameHeader.gameHeader {
		font-size: 0.8rem;
	}
}

@media only screen and (max-width: 755px) {
	#roomDesc {
		font-size: 0.85rem;
		width: 650px;
	}
	#roomDesc img {
		width: 84px;
		height: 82.5px;
	}

	#gameHeader.gameHeader {
		font-size: 0.65rem;
	}
}
